* {
    font-family: 'Trispace', sans-serif;
    text-align: center;
}

#quiz,
#addScore,
#highScores {
    display: none;
}

#quiz {
    background-color: rgb(140, 239, 152);
}

body {
    background-color: rgb(184, 200, 241);
}