
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#centeredbutton {
    text-align: center;
}

h2 {

    font-size: xx-large;
    text-align: center;
}

h5 {
    text-align: center;
    font-size: larger;
   
}

#question-text, #choices {
    text-align: center;
    font-size: larger;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}